window {
    background-color: rgba(26, 27, 38, 0.95);
    border: 4px solid #7AA2F7;
    border-radius: 12px;
    padding: 20px;
}

#osd {
    background-color: transparent;
    font-family: monospace;
    font-size: 18px;
    color: #7AA2F7;
}

image {
    color: #7AA2F7;
    margin: 0px 20px;
}

levelbar trough {
    background-color: #24283B;
    border-radius: 6px;
    min-height: 24px;
    min-width: 350px;
}

levelbar block.filled {
    background-color: #7AA2F7;
    border-radius: 6px;
}

levelbar block.empty {
    background-color: transparent;
}

label {
    color: #7AA2F7;
    font-weight: bold;
    margin: 10px;
}

