window {
    background-color: rgba(13, 14, 16, 0.95);
    border: 4px solid #D4A574;
    border-radius: 12px;
    padding: 20px;
}

#osd {
    background-color: transparent;
    font-family: monospace;
    font-size: 18px;
    color: #D4A574;
}

image {
    color: #D4A574;
    margin: 0px 20px;
}

levelbar trough {
    background-color: #1C1E21;
    border-radius: 6px;
    min-height: 24px;
    min-width: 350px;
}

levelbar block.filled {
    background-color: #D4A574;
    border-radius: 6px;
}

levelbar block.empty {
    background-color: transparent;
}

label {
    color: #D4A574;
    font-weight: bold;
    margin: 10px;
}
