window {
    margin: 0px;
    border: 2px solid #a7c080;
    background-color: #2d353b;
    font-family: monospace;
    font-size: 17px;
}

#input {
    margin: 8px;
    padding: 8px;
    border: none;
    color: #d3c6aa;
    background-color: #3d484d;
}

#inner-box {
    margin: 8px;
    border: none;
    background-color: #2d353b;
}

#outer-box {
    margin: 0px;
    border: none;
    background-color: #2d353b;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 4px;
    border: none;
    color: #d3c6aa;
}

#entry:selected {
    background-color: #4f585e;
    color: #a7c080;
}

#entry:selected #text {
    color: #a7c080;
    font-weight: bold;
}

